<%- include('partials/header.ejs') -%>


    <div class="container">

        <% for(var i=0; i < post_array.length ; i++) { %>

            <h1>
                <%= post_array[i].blog_title %>
            </h1>
            <p>
                <%= (post_array[i].blog_text).substring(0,100) %>
                    <span><a href="/posts/<%= post_array[i]._id %>" style="text-decoration: none;">...read
                            more</a></span>
            </p>
            <% } %>
    </div>



    <%- include('partials/footer.ejs') -%>